<h3>this is second page</h3>

<p>The Input Field from Home page is <b>{{second.getData}}</b></p>

<input type="number" ng-model="second.firstValue"  ng-blur="second.run()" value="{{second.remainValue}}"> 
<input type="number" ng-model="second.secondValue" ng-blur="second.run()" value="{{second.remainValue}}">
<input type="number" ng-model="second.thirdValue"  ng-blur="second.run()" value="{{second.remainValue}}">
<input type="number" ng-model="second.fourthValue" ng-blur="second.remain()" value="{{second.sumValue}}">